.hg
*.d
*.o
*.bin
*.s
*.depends
*.flags
*.objects
*.a
# .defconfg
.config
*~
process/process_builtin.s
bitvisor.elf
bitvisor.map
.config*
.depends
.flags
.objects
.boptions
defconfig
boot/login/conf/bitvisor.conf
boot/login/initrd/initrd.gz
boot/login/linux/linux-*
boot/login/linux/vmlinux
boot/login/minios_init/keymapdump
boot/login/minios_init/minios_init
boot/login-simple/config
boot/login-simple/config.raw
boot/login-simple/makedata
boot/login-simple/module1.bin
boot/login-simple/module2.bin
boot/login-simple/readdata
*.bin.s
syntax: regexp
tools/dbgsh/dbgsh
tools/dbgsh/dbgsh.exe
boot/uefi-loader/bsdriver.efi
boot/uefi-loader/loadvmm.efi
work
tools/dbgsh-uefi/*.efi
loadvmm.efi
bootloader
bootloaderusb

compile_commands.json
build
.history
